.input-container {
    width: 4.6em;
    height: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.hex-input {
    height: 2.1em;
    width: 7em;
    
    border-radius: 5px;
    border: 0.5px solid #1f2667;
    text-align: center;
    font-weight: 700;
    color: #1f2667;
}