.picker .react-colorful {
    width: 100%;
    height: 12em;
}

.picker .react-colorful__saturation {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} 

.picker .react-colorful__alpha {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 


@media (min-width: 375px ) and (max-width: 650px) {
    .picker .react-colorful {
        height: 12em;
    }
}

@media  (max-width: 375px) {
    .picker .react-colorful {
        height: 10em;
    }
}


    
