.code-panel-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2667;
    border-radius: 5px;
}

.code-container {
    white-space: pre-line;
    height: 8em;
    padding: 1em 2em 2em 2em;
    line-height: 1.5;
    font-size: 15px;
}

.copy-btn {
    height: 2em;
    background-color: #545475;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: font-size 0.5s ease-out;
}

.copy-btn:hover {
    font-size: 1.2em;
}

.blue {
    color: rgb(100, 175, 255);
}