.slider-container {
    display: flex;
    align-items: center;
}

.sliders{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5em;

    cursor: pointer;
}

input[type="range"] {
    appearance: none;

    width: 100%;
    height: 0.8em;
    border-radius: 0.5em;

    margin-right: 0.5em;
}

input[type=range]::-webkit-slider-thumb {
    border: 2px solid #1f2667;
    border-radius: 50%;
    background-color: inherit;
    cursor: pointer;
    width: 1em;
    height: 1em;
    -webkit-appearance: none;

    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #1f2667;
    border-radius: 50%;
    background-color: inherit;
    cursor: pointer;
    width: 1em;
    height: 1em;
    -webkit-appearance: none;

    cursor: pointer;
}

.remove {
    height: 1em;
    width: 1em;
    border: 0.5px solid #e5e5e6;
    border-radius: 50%;

    cursor: pointer;
}

@media (max-width: 650px ) {

    input[type="range"] {
        width: 100%;
        height: 1.3em;
        border-radius: 1em;
    }
    
    .remove,
    input[type=range]::-webkit-slider-thumb,
    input[type=range]::-moz-range-thumb {
        height: 1.5em;
        width: 1.5em;
    }

}

